---
import './hero.css';
import Boton from '../atoms/Boton.astro';
---

<section class="hero">

	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente">Sergio Alfranca</h1>
			<p class="hero__text">
				Desarrollador Web, interesado por conocimientos relativos a la IA y al e-Marketing
			</p>
			<Boton href="#" texto="Quiero saber más"/>
		</div>
    <img
		class="hero__img"
		src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExOGxrY3B5ejB2cnl4cTY3cWZlOGx0eHo4b2Z2b2hvaTh0b3U4cm90NyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/QpVUMRUJGokfqXyfa1/giphy.gif"
		alt="Jhon Doe"
		width="384"
    	height="384"
	/>
	</div>
</section>
