---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"


---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExOGxrY3B5ejB2cnl4cTY3cWZlOGx0eHo4b2Z2b2hvaTh0b3U4cm90NyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/QpVUMRUJGokfqXyfa1/giphy.gif"
			alt="Foto de perfil de Jhon Doe"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="Sobre mí" />
			<p class="about__text">
				Me encanta el mundo de la tecnología además de deportes como el fútbol
				o el baloncesto. Elegí esta rama porque siempre he sido muy curioso sobre Internet,
				la informática y la programación (sobre todo Front-End). Me gusta ser una parte activa
				en todos los proyectos en los que participo, además de aportar valor como individuo. 
			</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>

</section>
