---
const { contenido, margin } = Astro.props;
---

<h2 class="color__gradiente" style=`margin-bottom:${margin}` >{Sergio Alfranca - Desarrollador Web}</h2>

<style>
	h2 {
		font-size: 5rem;
		font-weight: 500;
	}
</style>
